$base03:          #002b36 !default; //darkest blue
$base02:          #073642 !default; //dark blue
$base01:          #586e75 !default; //darkest gray
$base00:          #657b83 !default; //dark gray
$base0:           #839496 !default; //medium gray
$base1:           #93a1a1 !default; //medium light gray
$base2:           #eee8d5 !default; //cream
$base3:           #fdf6e3 !default; //white
$yellow:          #b58900 !default;
$orange:          #cb4b16 !default;
$red:             #dc322f !default;
$magenta:         #d33682 !default;
$violet:          #6c71c4 !default;
$blue:            #268bd2 !default;
$cyan:            #2aa198 !default;
$green:           #859900 !default;

@import url(http://fonts.googleapis.com/css?family=Inconsolata);
$font-family: "Inconsolata";

body {
  background-color: $base03;
  font-family: $font-family;
  font-size: 16px;
  line-height: 18px;
  color: $base0;
}

h1 {
  font-size: 28px;
  line-height: 28px;
  margin-top: 25px;
  margin-bottom: 20px;
  color: $yellow;
}

h2 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 8px;
  color: $yellow;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: $blue;
}

::-moz-selection {
  background: $magenta;
  text-shadow: none;
}
::selection {
  background: $magenta;
  text-shadow: none;
}

.about-me {
  color: $green;
}

.feed:hover {
  color: $magenta;
}

#posts, #talks, #paginate, #projects {
  min-height: 115px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0px 0px 5px 0px;
  }
}

#talks span, #projects span {
  color: $green;
}

#paginate li{
  text-align: center;
}

#pagination, #postPagination, #talkPagination {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    font-size: 14px;
    float: left;
    list-style: none;
    cursor: pointer;
    margin: 0px 4px 2px 0px;
    background-color: $magenta;
    text-decoration: none;
    color: #fff;
    padding: 0px 1px;
  }
}

pre, code {
  font-family: $font-family;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
}

.error {
  text-align: center;
  h1 {
    font-size: 80px;
    line-height: 80px;
    color: $green;
  }
  p:first-child {
    color: $red;
  }
}
